<div class="dashboard-container px-4 py-6">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <!-- Card Chart -->
    <div class="dashboard-card" *ngFor="let type of ['stylists', 'services', 'shops', 'days', 'months']">
      <div class="card-header">
        <h3 class="card-title">📈 {{ getTitle(type) }}</h3>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart
            [data]="chartDataMap[type]"
            [options]="chartOptionsMap[type]"
            [type]="chartTypeMap[type]">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
