<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{'show': sidebarCollapsed, 'collapsed': sidebarCollapsed}">
    <div class="sidebar-logo">
      <img src="https://i.imgur.com/w8Yed9G.png" alt="Logo">
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="agent" routerLinkActive="active">Agent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop" routerLinkActive="active">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hairstylist" routerLinkActive="active">Style List</a>
      </li>
      <li class="nav-group-title clickable" (click)="toggleDropdown('products')">
        <span>Products</span>
        <i class="fas" [ngClass]="dropdownOpen['products'] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </li>
      <ul [ngClass]="{'sub-menu': true, 'show': dropdownOpen['products']}">
        <li class="nav-item">
          <a class="nav-link" routerLink="category" routerLinkActive="active">Products Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product" routerLinkActive="active">Manager Products</a>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="service" routerLinkActive="active">Service</a>
      </li>
      <li class="nav-group-title clickable" (click)="toggleDropdown('booking')">
        <span>Booking & Order</span>
        <i class="fas" [ngClass]="dropdownOpen['booking'] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </li>
      <ul [ngClass]="{'sub-menu': true, 'show': dropdownOpen['booking']}">
        <li class="nav-item">
          <a class="nav-link" routerLink="booking" routerLinkActive="active">Booking </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="order" routerLinkActive="active">Order </a>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="analyst" routerLinkActive="active">Analysis</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content" [ngClass]="{'expanded': sidebarCollapsed}">
    <header class="top-bar">
      <div class="top-bar-right">
      
        <div class="user-profile" (click)="toggleUserDropdown($event)">
          <i class="fas fa-user-circle"></i>
          <span class="username">{{ username }}</span>
          <i class="fas" [ngClass]="userDropdownOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </div>
    
        <!-- Dropdown -->
        <ul *ngIf="userDropdownOpen" class="topbar-dropdown" (click)="$event.stopPropagation()">
          <div class="user-dropdown-header">
            <i class="fas fa-user-circle big-icon"></i>
            <div class="user-dropdown-info">
              <div class="user-name">{{ username }}</div>
            </div>
          </div>
          <hr style="margin: 10px 0; border-color: #333;">
      
          <li><i class="fas fa-user" routerLink="agent"></i> Information</li>
          <li>
            <i class="fas fa-hourglass-half"></i> 
            Remaining: {{ remainingMonths }} months {{ remainingDays }} days {{ remainingHours }} hours {{ remainingMinutes }} minutes
          </li>
          <li *ngIf="remainingMonths === 0 && remainingDays === 0 && remainingHours === 0 && remainingMinutes === 0">
            <i class="fas fa-exclamation-triangle"></i> Expired
          </li>
          <li (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </li>
        </ul>
      </div>
    </header>
    

    <main class="content-container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
